{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en" class="h-100">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="CayenneLPP online coder">
        <meta name="author" content="J. Valdauf">
        <title>CayenneLPP online coder</title>
        <link href='{% static "cayenne_decoder/css/bootstrap.min.css" %}' rel="stylesheet">
        <link href='{% static "cayenne_decoder/css/custom.css" %}' rel="stylesheet">
        <link rel="shortcut icon" href="#">
    </head>

    <body class="d-flex flex-column h-100 pt-2">
        <header>
            {% block header %}
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">{% trans "CayenneLPP online coder" %}</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                                <li class="nav-item">
                                    <a class="nav-link decode active" href="#">Decode</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link encode" href="#">Encode</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link about" href="#">About</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock %}
        </header>

        <main class="flex-shrink-0">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <script src='{% static "cayenne_decoder/js/bootstrap.bundle.min.js" %}'></script>
        <script src='{% static "cayenne_decoder/vendor/jquery/jquery.min.js" %}'></script>
        <script src='{% static "cayenne_decoder/js/content-loading.js" %}'></script>
        <script src='{% static "cayenne_decoder/js/jquery.form.min.js" %}'></script>
        <script>
            $(document).ready(function() {
                $('a.nav-link').on('click', function(e){
                    e.preventDefault();
                    $('a.nav-link').removeClass('active');
                    $(this).addClass('active');
                });
            });
        </script>

    </body>
</html>
